#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left; 
  
}

.header{

  padding-top: 20px;
padding-bottom: 20px;
}

.header-title{
  color: red;
  padding-top: 10px;

}  
.header-h2 {
  font-weight: 400;
  
}

body {
  background-color: white; /* White background */
  color: black; /* Black text */
  font-family: Arial, sans-serif; /* Optional: Set a clean font */
  margin: 0;
  padding: 0;
}
  

  body{
    padding-bottom: 30px;
  }

  .navbar{
   color: lightgray;
  }
  .navbarar ul{
    display:flex;
    list-style: none;
    padding: 0;
    gap: 20px;

  }
  .navbar a {
    color: darkgrey;
    text-decoration: none;
  }


  .footer {
    color: red;
}

.footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.footer a {
    color: red;
    text-decoration: none;
}

.footer p {
  color: darkgrey;
}







  









 


